name: Update Wiki

on:
  workflow_call:
    inputs:
      ambiente:
        description: 'Nome do ambiente'
        required: true
        type: string
      tag:
        description: 'Tag do deploy'
        required: true
        type: string

jobs:
  update-wiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Wiki
        run: |
          git clone https://github.com/${{ github.repository }}.wiki.git
          cd $(basename ${{ github.repository }}.wiki)
      
      - name: Update Wiki Page
        run: |
          cd $(basename ${{ github.repository }}.wiki)
          ambiente=${{ inputs.ambiente }}
          tag=${{ inputs.tag }}
          sed -i "/^# $ambiente /c\# $ambiente / $tag" home.md
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
          git add home.md
          git commit -m "Update $ambiente with tag $tag"
          git push
